<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Airport</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="arrivals">
                <span class="oi oi-arrow-thick-bottom" aria-hidden="true"></span> Arrivals
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="departures">
                <span class="oi oi-arrow-thick-top" aria-hidden="true"></span> Departures
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="monitor">
                <span class="oi oi-layers" aria-hidden="true"></span> Monitor
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="new">
                <span class="oi oi-layers" aria-hidden="true"></span> New
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
